
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni KAtegori ekle</h2>
<form method="post">
    <label>Kategori Adı</label>
    <input type="text" name="CategoryName" class="form-control" />
    <label>Görsel Url</label>
    <input type="text" name="CategoryUrl" class="form-control" />
    <br />
    <button class="btn btn-outline-dark"><i class="fa fa-save">Kaydet</i> Kaydet</button>
</form>

