@model BooklyProject.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Şifre Değiştir</h2>

<form method="post">

    <label>Mevcut şifre</label>
    <input type="password" name="CurrentPassword" class="form-control" />
    <br />
    <label>Yenni şifre</label>
    <input type="password" name="NewPassword" class="form-control" />
    <br />
    <label>Mevcut şifre</label>
    <input type="password" name="ConfirmPassword" class="form-control" />
    <br />
    <p class="text-bg-danger">
        @Html.ValidationSummary()
    </p>
    <button class="btn btn-outline-dark">Şifre Değiştir</button>
    

</form>

